html {
    -webkit-box-align: center;
     align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
     justify-content: center;
    min-height: 100%;
  }
  
  .hidden {
    visibility: hidden;
    width: 0;
  }
  
  .progress-bar {
    background: #f1f6fa;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #ccd6dd;
    height: 10px;
    overflow: hidden;
    position: relative;
    text-indent: 100%;
    width: 100px;
  }
  .progress-bar--counter {
    margin-left: 10px;
    position: relative;
    top: -1px;
  }
  .progress-bar--counter .hidden {
    display: inline-block;
  }
  .progress-bar--wrap {
    display: -webkit-box;
    display: flex;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    margin: 10px 0;
  }
  .progress-bar--inner {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border-radius: 10px;
    height: 10px;
    left: 0;
    min-height: 10px;
    position: absolute;
    top: 0;
  }
  .progress-bar--red {
    color: #e41a4c;;
  }
  .progress-bar--red .progress-bar--inner {
    background-color: #e41a4c;;
  }
  .progress-bar--yellow {
    color: #ebae06;;
  }
  .progress-bar--yellow .progress-bar--inner {
    background-color: #ebae06;
  }
  .progress-bar--green {
    color: #0bd81c;;
  }
  .progress-bar--green .progress-bar--inner {
    background-color: #0bd81c;;
  }
  .progress-bar--blue {
    color: #17ebeb;;
  }
  .progress-bar--blue .progress-bar--inner {
    background-color: #17ebeb;;
  }
  .progress-bar--purple {
    color: #3b373b;;
  }
  .progress-bar--purple .progress-bar--inner {
    background-color: #3b373b;;
  }